# アプリケーションのインストール場所の指定
########################################
cask_args appdir: '/Applications'


# Formulaのインストール
########################################
# Git
brew 'git'
brew 'git-lfs'

# シェル
brew 'fish'
brew 'fisher'
brew 'fzf'

# プログラミング言語
# brew 'rust'
# tap 'shivammathur/php'
# brew 'shivammathur/php/php@X.X' # https://github.com/shivammathur/homebrew-php
# tap 'composer'

# パッケージマネージャ
brew 'mas'
brew 'mise'
brew 'ni'
brew 'usage'
brew 'uv'

# エディタ
brew 'jq'
brew 'tree'
brew 'vim'

# 開発ツール
# brew 'firebase-cli'
# tap 'heroku/brew'
# brew 'heroku'

# AI
brew 'codex'
brew 'gemini-cli'

# その他
brew 'ffmpeg'
# brew 'fontforge'
brew 'imagemagick'
# brew 'libpng'
# brew 'openssl'
# brew 'postgresql'


# Caskのインストール
########################################
# ユーティリティ
cask '1password'
# cask '1password-cli'
# cask 'amorphousdiskmark'
# cask 'android-file-transfer'
cask 'appcleaner'
cask 'bartender'
cask 'bettertouchtool'
cask 'cleanshot'
cask 'cmd-eikana'
cask 'contexts'
cask 'cursorsense'
cask 'google-japanese-ime@dev'
cask 'karabiner-elements'
cask 'keepingyouawake'
cask 'logi-options+'
cask 'monitorcontrol'
# cask 'namechanger'
# cask 'private-internet-access'
cask 'raycast'
cask 'rectangle'
cask 'the-unarchiver'
# cask 'timemachineeditor'
# cask 'wireshark'
# cask 'xquartz'

# ブラウザ
# cask 'firefox'
cask 'google-chrome'
# cask 'opera'
# cask 'thebrowsercompany-dia'
# cask 'vivaldi'

# クラウドサービス
cask 'dropbox'
cask 'google-drive'

# ターミナルエミュレータ
cask 'hyper'

# 開発ツール
cask 'docker'
# cask 'github'
cask 'gcloud-cli'
# cask 'react-native-debugger'
# cask 'sequel-pro'
cask 'sourcetree'
# cask 'spark-ar-studio'

# 仮想環境
# cask 'genymotion'
# cask 'parallels'
# cask 'virtualbox'

# エディタ・IDE
cask 'android-studio'
cask 'antigravity'
cask 'coteditor'
# cask 'cursor'
# cask 'processing'
cask 'smoothcsv'
# cask 'unity-hub'
# cask 'visual-studio'
cask 'visual-studio-code'
# cask 'visual-studio-code@insiders'

# 業務ツール
# cask 'notion'
cask 'notion-calendar'
cask 'slack'
cask 'readdle-spark'

# デザイン
# cask 'abstract'
cask 'adobe-creative-cloud'
cask 'affinity'
# cask 'blender'
cask 'figma'
cask 'figma@beta'
# cask 'fontforge'
# cask 'framer'
cask 'imageoptim'
# cask 'ogdesign-eagle'
cask 'sf-symbols'
# cask 'sketch'
cask 'typeface'

# フォント
cask 'font-sf-pro'
cask 'font-sf-mono'
cask 'font-sauce-code-pro-nerd-font'
cask 'font-source-han-code-jp'

# マルチメディア
# cask 'air-video-server-hd'
# cask 'audacity'
# cask 'audirvana'
# cask 'obs'
# cask 'steam'
cask 'spotify'
# cask 'tag'
cask 'vlc'
# cask 'xld'

# コミュニケーション
# cask 'discord'
# cask 'krisp'
cask 'zoom'

# Keyboard
# cask 'autodesk-fusion'
# cask 'eagle'
# cask 'freecad'
# cask 'kicad'
# cask 'qmk-toolbox'
# cask 'via'

# AI
# cask 'chatgpt'
cask 'claude'
cask 'claude-code'


# MacAppStoreのアプリをインストール
########################################
# mas 'AutoMounter', id: 1160435653
mas 'Bear', id: 1091189122
# mas 'DaisyDisk', id: 411643860
# mas 'Disk Diag', id: 672206759
# mas 'EdgeView 2', id: 1206246482
# mas 'GarageBand', id: 682658836
# mas 'GlueMotion', id: 1396851118
# mas 'iMovie', id: 408981434
mas 'Keynote', id: 409183694
mas 'LINE', id: 539883307
mas 'Numbers', id: 409203825
mas 'Pages', id: 409201541
# mas 'Pixelmator Pro', id: 1289583905
mas 'Transmit', id: 403388562
mas 'Transporter', id: 1450874784
# mas 'Twitter', id: 1482454543
mas 'Unsplash Wallpapers', id: 1284863847
mas 'Velja', id: 1607635845
mas 'Xcode', id: 497799835
