# README
########################################
# 1. Brewfile.example を Brewfile にリネーム
# 2. PCによってインストールしたいものは適宜コメントアウト解除
# 3. brew bundleを実行


# アプリケーションのインストール場所の指定
########################################
cask_args appdir: '/Applications'


# パッケージのインストール
########################################
# Git・シェル
brew 'git'
# brew 'git-lfs'
brew 'fish'
brew 'fisher'
brew 'fzf'

# パッケージマネージャ
brew 'anyenv'
brew 'direnv'
brew 'mas'
brew 'yarn'

# エディタ
brew 'vim'
# brew 'tree'

# 開発ツール
# brew 'firebase-cli'
# tap 'heroku/brew'
# brew 'heroku'

# その他
# brew 'openssl'
# brew 'ffmpeg'
# brew 'libpng'
# brew 'fontforge'
brew 'postgresql'


# MacAppのインストール
########################################
# ユーティリティ
cask '1password'
cask 'alfred'
# cask 'android-file-transfer'
cask 'appcleaner'
cask 'authy'
cask 'bartender'
cask 'bettertouchtool'
# cask 'cleanshot'
cask 'cmd-eikana'
cask 'contexts'
cask 'cursorsense'
cask 'google-japanese-ime'
# cask 'haptic-touch-bar'
cask 'karabiner-elements'
cask 'keepingyouawake'
cask 'meetingbar'
# cask 'monitorcontrol'
# cask 'namechanger'
# cask 'private-internet-access'
# cask 'timemachineeditor'
# cask 'xquartz'

# ブラウザ
# cask 'choosy'
cask 'google-chrome'
# cask 'firefox'
# cask 'opera'
# cask 'vivaldi'

# クラウドサービス
cask 'dropbox'
cask 'google-drive'

# ターミナルエミュレータ
cask 'hyper'

# 開発ツール
cask 'docker'
# cask 'flutter'
# cask 'github'
cask 'google-cloud-sdk'
# cask 'react-native-debugger'
# cask 'sequel-pro'
cask 'sourcetree'
# cask 'spark-ar-studio'

# 仮想環境
# cask 'genymotion'
# cask 'parallels'
# cask 'virtualbox'

# エディタ・IDE
cask 'android-studio'
# cask 'processing'
# cask 'unity-hub'
cask 'visual-studio-code'

# 業務ツール
cask 'biscuit'
cask 'notion'

# デザイン
# cask 'abstract'
cask 'adobe-creative-cloud'
# cask 'blender'
cask 'figma'
cask 'homebrew/cask-versions/figma-beta'
# cask 'fontforge'
cask 'imageoptim'
# cask 'ogdesign-eagle'
# cask 'rightfont'
# cask 'sketch'

# マルチメディア
# cask 'air-video-server-hd'
# cask 'audirvana'
# cask 'obs'
# cask 'steam'
cask 'spotify'
cask 'vlc'
# cask 'xld'

# コミュニケーション
cask 'discord'
cask 'zoomus'

# Keyboard
# cask 'autodesk-fusion360'
# cask 'eagle'
# cask 'freecad'
# cask 'kicad'
# cask 'qmk-toolbox'
# cask 'via'


# MacAppStoreのアプリをインストール
########################################
# mas 'Affinity Designer', id: 824171161
# mas 'Affinity Photo', id: 824183456
# mas 'AutoMounter', id: 1160435653
mas 'Bear', id: 1091189122
mas 'CotEditor', id: 1024640650
# mas 'DaisyDisk', id: 411643860
# mas 'Disk Diag', id: 672206759
# mas 'EdgeView 2', id: 1206246482
mas 'Fantastical', id: 975937182
# mas 'GarageBand', id: 682658836
# mas 'GlueMotion', id: 1396851118
# mas 'iMovie', id: 408981434
# mas 'Keynote', id: 409183694
mas 'LINE', id: 539883307
mas 'Magnet', id: 441258766
# mas 'Numbers', id: 409203825
# mas 'Pages', id: 409201541
# mas 'Pixelmator', id: 407963104
mas 'Slack', id: 803453959
# mas 'Spark', id: 1176895641
# mas 'Tag', id: 506232966
mas 'The Unarchiver', id: 425424353
mas 'Transmit', id: 403388562
mas 'Transporter', id: 1450874784
# mas 'Tweetbot', id: 1384080005
mas 'Twitter', id: 1482454543
mas 'Unsplash Wallpapers', id: 1284863847
mas 'Xcode', id: 497799835
